body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
ul{
    margin-block-end: 0px;
}
header{
    background: linear-gradient(to bottom, blue, #8c30ff);
    display: flex;
    justify-content: space-between;
}
#text1{
    width: 700px;
    height: 700px;
    display: inline;
}
h1{
    margin:0px;
    font-family: "shake";
    font-size: 48px;
    margin-left: 10px;
}
#milenarius{
    margin: 0px 0px 0px 10px;
    font-family: "blacklisted";
}
@font-face {
    font-family: shake;
    src: url(../tipografias/super_shake/Super\ Shake.ttf);
}
@font-face {
    font-family: blacklisted;
    src: url(../tipografias/blacklisted/Blacklisted.ttf);
}
@font-face {
    font-family: superletter;
    src: url(../tipografias/Inversionz\ Italic.otf);
}
#link{
    list-style-type: none;
}
#link a{
    text-decoration: none;
    color: black;
}
#nav{
    margin-right: 10px;
}
#bienv{
    font-family: "blacklisted";
    text-align: center;
    font-size: 50px;
    position: relative;
    color: white;
    bottom: 800px;
}
#p1 {
    font-family: "shake";
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
}
#image1{
    position:relative;
    bottom: 300px;
    z-index:-1;
    width: 1263px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%); /* Compatibilidad */
}
.id{
    font-family: "superletter";
    font-size: 130px;
    text-align: center;
    position: relative;
    bottom: 300px;
    margin: 0px;
}